// Body
$body-bg: #f8fafc;

$play: 'Playfair', serif;
$pt: 'PT Sans Narrow', sans-serif;
$rob: 'Roboto', sans-serif;
$tit: 'Titillium Web', sans-serif;

// Typography
$font-family-sans-serif: $play;
$font-size-base: 1.1rem;
$line-height-base: 1.6;
